/* variable definitions */
* {
    -fx-primary: #2A2E37; /*2A2E37*/
    -fx-secondary: #92D1C2; /*00bcf2*/
    /*-fx-secondary: #1976D2;*/
    /*-fx-secondary: #e8eaee;*/
    -fx-primarytext: #FFFFFF;
    /*-fx-primarytext: #B2B2B2;*/
    -fx-blue: #1976D2;

    /* possible secondary colors
    00bcf2
    31c6c0
    47d041
    1976D2

    ACCACF
    9AB5BA
    A1C3BB
    92D1C2
     */
}

.root {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 18pt;
}

.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

/*Menu bar Styling*/
.menu-bar {
    -fx-font-size: 14;
    -fx-base: -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu {
    /*-fx-background-color: derive(-fx-primary, 20%);*/
    -fx-font-size: 14;
    /*-fx-min-width: 150px;*/
}


/* Context menu */
.colored-context-menu .menu-item:focused {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: black;
}

.colored-context-menu .menu-item:focused .label {
    -fx-text-fill: black;
}
