/* background color for main panes */
.anchor-main {
    -fx-background-color: #34495e;
}

/* background color for header anchor panes*/
.anchor-header {
    -fx-background-color: #46637f;
}

/* for game buttons in the application */
.button {
    -fx-background-color: #46637f;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #65829B;
}


/* for the back buttons in the application */
.back-button:hover {
    -fx-background-color: #65829B;
}


/* for the menu buttons in the application */
.menu-buttons {
    -fx-background-color: #34495e;
}

.menu-buttons:hover {
    -fx-background-color: #65829B;
}
